<nav>
    <div class="entries">
    {{#each config.nav}}
        <a href="{{link}}" class="{{getNavClass name ..}}" >{{name}}</a>
    {{/each}}
    </div>
    <button aria-label="toggle navigation"></button>
</nav>