<section class="page project">

    <section>
        <header>
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </header>

        <p>{{{pageContent}}}</p>
    </section>

    <div class="gallery">
        <img src="/assets/{{cover.default}}" class="gallery-img" />
    </div>

</section>