<section class="page project">
    <header>
        <section>
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        </section>
        <div class="gallery">
            <img src="/assets/{{cover.default}}" class="" />
        </div>
    </header>

    {{{pageContent}}}
</section>