/** @format */
@import "normalize.css";

:root {
    --ff-primary: "Noto Sans Display", sans-serif;
    --ff-accent: "Oswald", sans-serif;
}
* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 3rem;
    padding: 0 1rem;
    vertical-align: middle;
}

nav a {
    margin: 0.5rem;
    color: black;
}

main {
    flex: 1;
}

footer {
    text-align: center;
}

.content {
    color: white;
}

/*INDEX*/
/*------------------------*/

.index {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index h1 {
    font-family: var(--ff-accent);
    font-size: 11rem;

    margin: 0, 0, 0, 10;
}

.index nav {
    position: static;
}

.index nav a {
    display: inline-block;

    font-family: var(--ff-accent);
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;

    color: white;
    background-color: rgba(255, 255, 255, 0.8);

    text-decoration: none;
    height: 3rem;
    width: 7rem;
}

.index nav a:hover {
}

/*ABOUT*/
/*------------------------*/

.about main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 3rem;
}

.about-content {
    flex: 1;

    /* background-color: rgba(255, 255, 255, 0.7); */

    min-width: 1200px;
}

/*PROJECTS*/
/*------------------------*/
.projects {
    /* background-color: black; */
}

.projects-first-section {
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.perspective {
    perspective: 100rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transform-style: preserve-3d;
    transform: rotateY(-40deg);
}

.container {
    height: 400px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem 0.5rem;
    grid-template-areas:
        "petition petition socialNetwork socialNetwork socialNetwork socialNetwork"
        "imageBoard imageBoard socialNetwork socialNetwork socialNetwork socialNetwork";
}
.petition {
    grid-area: petition;
}
.imageBoard {
    grid-area: imageBoard;
}
.socialNetwork {
    grid-area: socialNetwork;
    z-index: 5;
}

.container > li {
    overflow: hidden;
    border-radius: 0.25rem;
}

.container > li a {
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;
}

.container > li a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.container > li a:hover img {
    opacity: 0.8;
}

.container > li a:hover img:first-child {
    transform: translateX(-100%);
}

.container > li a img:last-child {
    transform: translateX(100%);
}

.container > li a:hover img:last-child {
    transform: translateX(0);
}

/*CANVAS*/
/*------------------------*/
canvas {
    z-index: -1;
}

#vector-field {
    background: black;

    position: absolute;

    top: 0;
    left: 0;
}

#venom-particles {
    /* background: black; */
    position: absolute;

    top: 0;
    left: 0;
}
/*MEDIA*/
/*------------------------*/

@media screen and (max-width: 960px) {
    .page {
        width: 100%;
    }
}
