/** @format */
@import "normalize.css";

:root {
    --ff-primary: "Noto Sans Display", sans-serif;
    --ff-accent: "sans-serif", sans-serif;

    --grey-100: rgb(41, 41, 41);
    --grey-200: rgb(29, 29, 29);
    --grey-400: rgba(24, 24, 24, 0.8);
    --blue: rgb(14, 253, 217);
    --red: rgb(247, 33, 82);
    --eggshell: rgba(255, 255, 255, 0.8);
}
* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

body {
    background-color: var(--grey-200);
    display: flex;
    flex-direction: column;

    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 3rem;

    vertical-align: middle;
}

nav .entries {
    padding: 0 1rem;
}

nav a {
    margin: 0.5rem;
    color: white;
}
nav.scrolled .entries {
    background-color: var(--grey-400);
}

nav.scrolled {
    z-index: 2000;
}

main {
    flex: 1;
}

h1,
h2,
h3 {
    color: var(--blue);
}

a {
    text-decoration: none;
}

footer {
    color: white;

    text-align: center;
    width: 100vw;
}

.content {
    color: white;
}

.text {
    font-size: 1.2rem;
    color: var(--eggshell);
}

.text strong {
    color: var(--blue);
}

.text > p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

nav a {
    display: inline-block;

    font-family: var(--ff-accent);
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;

    padding: 0 1rem;
    text-decoration: none;
    height: 3rem;
    width: 10rem;
}

nav a:hover {
    transform: scale(1.05);
}

.current {
    background: rgb(253, 33, 84);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.current nav a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem white;
}

/*INDEX*/
/*------------------------*/

.index {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index h1 {
    background: -webkit-linear-gradient(
        left,
        rgb(12, 253, 215),
        rgb(253, 33, 84)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: var(--ff-accent);
    font-size: 11rem;
    font-weight: bold;

    margin: 0, 0, 0, 10;
}

.index nav {
    position: static;
}

.index nav a {
    display: inline-block;

    font-family: var(--ff-accent);
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;

    color: black;
    background-color: rgba(255, 255, 255, 0.8);

    padding: 0 1rem;
    text-decoration: none;
    height: 3rem;
    width: 10rem;
}

.index nav a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
}

.index nav .home {
    display: none;
}

/*ABOUT*/
/*------------------------*/

.about main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    background: rgb(29, 29, 29);

    padding-top: 5rem;
}

.about-content {
    flex: 1;

    display: flex;
    flex-direction: row;
}

.about h1 {
    color: #0cfdd7;
}

.about h2 {
    color: #0cfdd7;
}

.about p {
    color: white;
}
.about-info {
    margin-top: 3rem;
    width: 400px;
}

.about-info a {
    text-decoration: none;
    color: var(--red);
}

/*PROJECTS*/
/*------------------------*/
.project {
    padding-top: 10rem;
}

.projects h1 {
    color: #0cfdd7;

    font-size: 3.5rem;
    font-weight: 10000;
}

.projects p {
    font-family: var(--ff-accent);
    font-size: 1rem;

    text-align: center;

    color: white;
}

.project-con p {
    font-family: var(--ff-accent);
    font-size: 1.2rem;

    text-align: center;

    color: white;
}

.projects-first-section .text > p {
    font-size: 1.5rem;
}

.projects-first-section {
    height: calc(100vh - 100px);
    width: 1100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
    margin-bottom: 0;
}
.perspective {
    perspective: 50rem;
    flex: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
}

.container {
    height: 500px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
        "petition petition socialNetwork socialNetwork socialNetwork socialNetwork"
        "imageBoard imageBoard socialNetwork socialNetwork socialNetwork socialNetwork";
}
.petition {
    grid-area: petition;
}
.imageBoard {
    grid-area: imageBoard;
}
.socialNetwork {
    grid-area: socialNetwork;
    z-index: 5;
}

.container > li {
    overflow: hidden;
    border-radius: 0.25rem;
}

.container > li a {
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;
}

.container > li a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.container li {
    transition: 1s;
}

.container li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
}

.container > li a:hover img {
    opacity: 0.8;
}

.container > li a:hover img:first-child {
    transform: translateX(-100%);
}

.container > li a img:last-child {
    transform: translateX(100%);
}

.container > li a:hover img:last-child {
    transform: translateX(0);
}

.projects-info {
    padding: 5px 5px 30px 5px;

    width: 310px;

    border-radius: 5px;
    /* box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7); */
}

.projects-code-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects-info a {
    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );
    color: white;

    font-family: var(--ff-accent);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;

    line-height: 2rem;
    padding: 1rem;

    border-radius: 5px;

    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );
    display: inline-block;

    transition: transform 2s ease-out;
}

.projects-info a:hover {
    background: -webkit-linear-gradient(
        -30deg,
        rgb(253, 33, 84),
        rgb(122, 15, 40) 90%
    );

    display: inline-block;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}
/*---*/
.projects-second-section {
    margin: 0;
    padding: 3rem 3rem;
    background: var(--grey-100);
}

.projects-second-section a:hover {
    transform: scale(1.05);
}

.divider {
    background-color: rgb(156, 156, 156);
    width: 50%;
    margin: 0 auto;
    align-self: center;
    /* 
    display: none; */
}

.subdivider {
    background-color: rgb(129, 129, 129);
    width: 60%;
}

.subdivider:last-child {
    display: none;
}

.projects-second-section article {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 1rem;
    margin-bottom: 2rem;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas: "title desc icon img";

    transition: transform 1s;
}

.projects-second-section article:hover {
    /* transform: scale(1.05); */
}

.projects-second-section h2 {
    font-size: 2.5rem;

    color: var(--blue);
}

.icon-con {
    height: 100%;
    width: 100%;
    grid-area: icon;
}

article img {
    height: 180px;
    width: 80%;
    grid-area: img;
}
h2 a {
    color: var(--blue);
}
/*PROJECT*/
/*------------------------*/

body[class|="projects"] {
    background: var(--grey-200);
}

.project {
    display: flex;

    color: white;
    height: 100%;
    width: 960px;
    margin: 0 auto;

    padding-top: 10rem;
}

.project aside {
    padding-left: 5rem;
}
.project > header {
    display: flex;
}

.project h1 {
    margin-top: 0;
}

.gallery img {
    width: 300px;
}

.techs {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.techs-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.techs-list li {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.demo-link {
    margin-top: 2rem;
    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );
    color: white;

    font-family: var(--ff-accent);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    line-height: 3rem;
    padding: 0 1rem;

    border-radius: 5px;

    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );
    display: inline-block;

    transition: transform 2s ease-out;
}

.demo-link:hover {
    background: -webkit-linear-gradient(
        -30deg,
        rgb(253, 33, 84),
        rgb(122, 15, 40) 90%
    );

    display: inline-block;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}

.code-link {
    margin-top: 2rem;
    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );
    color: white;

    font-family: var(--ff-accent);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    line-height: 3rem;
    padding: 0 1rem;

    border-radius: 5px;

    background: -webkit-linear-gradient(
        -30deg,
        rgb(253, 33, 84),
        rgb(122, 15, 40) 90%
    );
    display: inline-block;

    transition: transform 2s ease-out;
}

.code-link:hover {
    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );

    display: inline-block;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}

/*ABOUT*/
/*------------------------*/

.contact main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    width: 960px;
    margin: 0 auto;
}

.contact .contact-content {
    margin-top: 10rem;
}

/*CONTACT*/
/*------------------------*/

#contact-form {
    /* border: 1px solid white; */
    border-radius: 10px;

    width: 500px;

    padding: 15px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#contact-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 400;
}

textarea {
    height: 300px;
    width: 100%;
    text-align: center;
}

input,
textarea {
    background-color: var(--grey-100);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.demo-link:hover {
    background: -webkit-linear-gradient(
        -30deg,
        rgb(253, 33, 84),
        rgb(122, 15, 40) 90%
    );

    display: inline-block;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}

#contact-submit-btn {
    border: none;

    background: -webkit-linear-gradient(
        -30deg,
        rgb(253, 33, 84),
        rgb(122, 15, 40) 90%
    );
    color: white;

    font-family: var(--ff-accent);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    line-height: 3rem;
    padding: 0 2rem;

    border-radius: 5px;

    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );
    display: inline-block;

    transition: transform 2s ease-out;
}

#contact-submit-btn:hover {
    background: -webkit-linear-gradient(
        -30deg,
        rgb(56, 179, 172),
        rgb(36, 116, 136)
    );

    display: inline-block;
    box-shadow: 0 0 2rem rgba(255, 255, 255, 0.7);
    transform: scale(1.05);
}

/*CANVAS*/
/*------------------------*/
canvas {
    z-index: -1;
}

#vector-field {
    background: black;

    position: absolute;

    top: 0;
    left: 0;
}

#venom-particles {
    position: absolute;
    background: rgb(29, 29, 29);

    top: 0;
    left: 0;
}

/*GLOBE*/
/*------------------------*/

.tagcloud {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 650;
    margin-left: 30%;
}
.tagcloud--item:hover {
    color: #36454f;
}

/*MEDIA*/
/*------------------------*/

@media screen and (max-width: 960px) {
    .project {
        width: 100%;
    }
    .index h1 {
        font-size: 8rem;
    }
    .contact,
    .about-info {
        width: 100%;
        padding: 1rem;
    }

    .about-content aside {
        display: none;
    }

    .projects-first-section .perspective {
        display: none;
    }

    .projects-second-section article {
        display: flex;
        flex-direction: column;

        padding: 3rem 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .projects-first-section {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .index nav a {
        width: 100%;
        margin: 0.5rem 0rem;
    }

    .index footer p {
        margin: 0;
        /* margin-top: 2rem; */
    }

    .index {
        padding-bottom: 1rem;
    }

    .index h1 {
        font-size: 4rem;
    }

    .project {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }
    .project aside {
        margin-top: 4rem;
        padding: 0;
    }
}

/*-----------*/

@media screen and (max-width: 960px) {
}

nav button {
    display: none;
    z-index: 1020;
}

@media screen and (max-width: 480px) {
    body:not(.index).nav-open nav .entries {
        transform: translateY(0);
    }
    body.nav-open nav button:after {
        content: "×";
    }

    body:not(.index) nav .entries {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--grey-200);
    }

    nav.scrolled {
        z-index: -2;
    }

    nav .entries a {
        width: 100vw;
        font-size: 2rem;
    }

    .index nav .entries {
        padding: 0 1rem;
    }

    .index nav .entries a {
        width: 100%;
    }

    body:not(.index) nav button {
        color: var(--eggshell);
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        appearance: none;
        border: none;
        background-color: transparent;
        line-height: 3rem;
        width: 3rem;
        padding: 0;
        font-size: 2.5rem;
    }
    nav button:after {
        content: "≡";
    }

    .project-con img {
        width: 100%;
        object-fit: cover;
    }

    .project-con h2 {
        text-align: center;
    }
}
